[app]
debug = false
trace = false

[database]
hostname = '{hostname}'
database = '{database}'
username = '{username}'
password = '{password}'
hostport = '{hostport}'
charset = utf8mb4
prefix = lsky_

[system]
single_user_mode = false
intercept_salacity = false
url_query = ''
watermark = false