/installed.lock
/upgrading.lock
/*.zip
/node_modules
/public/hot
/public/storage
/public/js/custom.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/i
