{extend name="common:base" /}

{block name="title"}{:lang('Sign In')} - {$config.site_name}{/block}

{block name="css"}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
{/block}

{block name="main"}
<div class="mdui-container">
  <main>
    <div class="mdui-row">
      <div class="login-container">
        <div class="panel mdui-col-sm-6 mdui-col-md-6 mdui-col-offset-sm-3 mdui-col-offset-md-3">
          <div class="panel-header">{:lang('Login account')}</div>
          <div class="panel-body-box">
            <form action="{:url('auth/login')}" method="post">
              {include file="common:alert"}
              <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">{:lang('Account')}</label>
                <input class="mdui-textfield-input" type="text" name="account" value="{:input('post.account')}"/>
              </div>
              <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">{:lang('Password')}</label>
                <input class="mdui-textfield-input" type="password" name="password"/>
              </div>
              <div class="mdui-textfield mdui-textfield-floating-label">
                <button class="mdui-btn mdui-btn-block mdui-color-theme-accent mdui-ripple">{:lang('Sign In')}</button>
              </div>
              {:token()}
            </form>
            <p class="mdui-clearfix mdui-m-t-1">
              <a class="mdui-float-left" href="{:url('auth/forgot')}">{:lang('Forgot your password?')}</a>
              <a class="mdui-float-right" href="{:url('auth/register')}">{:lang('Registered account')}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{/block}

{block name="js"}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
{/block}
