<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Lsky Pro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/css/mdui.min.css" rel="stylesheet">
</head>
<body class="mdui-theme-accent-indigo">
<style>
  main {
    margin: 5rem auto;
    max-width: 500px;
    border-radius: 3px;
    padding: 1rem;
  }
  table {
    width: 100%;
  }
  tr {
    display: table;
    width: 100%;
    border: 1px solid #ebebeb;
  }
  td {
    width: 50%;
    margin-bottom: .8rem;
  }
</style>
<div class="mdui-container">
  <main class="mdui-shadow-2">
    <h3>- 数据库结构更新准备就绪</h3>
      {if $msg}
      <div class="mdui-text-color-red">{$msg|raw}</div>
      {/if}
      {if $code eq 0}
      <form action="" method="get">
        <input type="hidden" name="start" value="1">
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-btn-block mdui-color-theme-accent">开始更新</button>
      </form>
      {/if}
  </main>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
</html>
