{extend name="common:base" /}

{block name="title"}Upload API Document - {$config.site_name}{/block}

{block name="main"}
<style>
  tbody tr:last-child td {
      border-bottom: none;
  }
  .mdui-table td {
      line-height: 36px;
  }
  .mdui-shadow-2 {
      box-shadow: 0 0 10px 0 rgba(45, 45, 45, 0.13);
  }
</style>
<div class="mdui-container">
  <main>
    <div class="mdui-m-b-2">
      <h2>1. Get token</h2>
      <div class="mdui-row">
        <div class="mdui-col-md-6">
          <div class="mdui-table-fluid mdui-m-t-1">
            <table class="mdui-table">
              <thead>
              <tr>
                <td>Function</td>
                <td>Interface</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Request mode</td>
                <td>POST</td>
              </tr>
              <tr>
                <td>URL</td>
                <td>{$domain}/api/token</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Request parameters</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Required</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>email</td>
            <td>String</td>
            <td>Yes</td>
            <td>Mailbox</td>
          </tr>
          <tr>
            <td>password</td>
            <td>String</td>
            <td>Yes</td>
            <td>Account password</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Return data description</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Instance value</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>code</td>
            <td>Number</td>
            <td>200</td>
            <td>The status code returns 200 for success and 500 for failure</td>
          </tr>
          <tr>
            <td>msg</td>
            <td>String</td>
            <td>success</td>
            <td>Prompt information</td>
          </tr>
          <tr>
            <td>time</td>
            <td>Number</td>
            <td>1544176295</td>
            <td>Response timestamp</td>
          </tr>
          <tr>
            <td>data</td>
            <td>array|object</td>
            <td>{"token": "8961576c9090ef0902c4b89406f8d557"}</td>
            <td>Obtained token data</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mdui-m-b-2">
      <h2>2. Picture upload</h2>
      <div class="mdui-row">
        <div class="mdui-col-md-6">
          <div class="mdui-table-fluid mdui-m-t-1">
            <table class="mdui-table">
              <thead>
              <tr>
                <td>Function</td>
                <td>Interface</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Request mode</td>
                <td>POST</td>
              </tr>
              <tr>
                <td>URL</td>
                <td>{$domain}/api/upload</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Request parameters</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Required</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>image</td>
            <td>File</td>
            <td>Yes</td>
            <td>Form name</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mdui-shadow-2 mdui-m-t-2 mdui-m-b-1 mdui-p-a-3 mdui-text-color-red">
        Note: if the header has a token parameter during the request, the interface will authenticate the token, and the uploaded image is also in the token user account, otherwise the system will consider it as uploaded by tourists.
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Return data description</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Instance value</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>code</td>
            <td>Number</td>
            <td>200</td>
            <td>The status code returns 200 for success and 500 for failure</td>
          </tr>
          <tr>
            <td>msg</td>
            <td>String</td>
            <td>success</td>
            <td>Prompt information</td>
          </tr>
          <tr>
            <td>time</td>
            <td>Number</td>
            <td>1544176295</td>
            <td>Response timestamp</td>
          </tr>
          <tr>
            <td>data</td>
            <td>array|object</td>
            <td>
<pre>{
  "name": "9B7BCFBD05891B2D42187F126887777A.jpg",
  "url": "http://domain.com/2018/12/08/5c0b519f44701.jpg"
}</pre>
            </td>
            <td>Picture data</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Upload example</h4>
      <pre class="mdui-shadow-2 mdui-p-a-3">
POST /api/upload HTTP/1.1
Host: {$domain}

Connection: keep-alive
Content-Length: 57398
Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryx2mqINKHVPJ8yMdK

------WebKitFormBoundaryx2mqINKHVPJ8yMdK
Content-Disposition: form-data; name="image"; filename="test.png"
Content-Type: image/png
</pre>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Response error example</h4>
      <pre class="mdui-shadow-2 mdui-p-a-3">
{
  "code": 500,
  "msg": "The administrator turned off the tourist upload!",
  "data": null,
  "time": 1544245931
}</pre>
    </div>

    <div class="mdui-shadow-2 mdui-m-t-2 mdui-m-b-1 mdui-p-a-3 mdui-text-color-red">
      Note: token is required for the following interfaces
    </div>
    <div class="mdui-m-b-2">
      <h2>3. Get picture list</h2>
      <div class="mdui-row">
        <div class="mdui-col-md-6">
          <div class="mdui-table-fluid mdui-m-t-1">
            <table class="mdui-table">
              <thead>
              <tr>
                <td>Function</td>
                <td>Interface</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Request mode</td>
                <td>POST</td>
              </tr>
              <tr>
                <td>URL</td>
                <td>{$domain}/api/images</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Request parameters</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Required</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>page</td>
            <td>String</td>
            <td>Yes</td>
            <td>Page number</td>
          </tr>
          <tr>
            <td>rows</td>
            <td>String</td>
            <td>No</td>
            <td>Quantity per page, 20 by default</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Return data description</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Instance value</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>total</td>
            <td>Number</td>
            <td>999</td>
            <td>Total data</td>
          </tr>
          <tr>
            <td>per_page</td>
            <td>String</td>
            <td>1</td>
            <td>Number per page</td>
          </tr>
          <tr>
            <td>current_page</td>
            <td>Number</td>
            <td>1</td>
            <td>Current page</td>
          </tr>
          <tr>
            <td>last_page</td>
            <td>Number</td>
            <td>999</td>
            <td>Last page number</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Picture data description</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Instance value</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>id</td>
            <td>Number</td>
            <td>1</td>
            <td>Picture ID</td>
          </tr>
          <tr>
            <td>strategy</td>
            <td>String</td>
            <td>oss</td>
            <td>Storage strategy, (cos: Tencent cloud, kodo: qiniu cloud, local: local, soo: Alibaba cloud OSS, remote: remote storage, uss: shooting cloud again)</td>
          </tr>
          <tr>
            <td>path</td>
            <td>String</td>
            <td>2019/10/31</td>
            <td>Picture path</td>
          </tr>
          <tr>
            <td>alias_name</td>
            <td>String</td>
            <td>test</td>
            <td>Picture alias</td>
          </tr>
          <tr>
            <td>name</td>
            <td>String</td>
            <td>929616303ca92.jpg</td>
            <td>Picture name</td>
          </tr>
          <tr>
            <td>pathname</td>
            <td>String</td>
            <td>2019/10/31/929616303ca92.jpg</td>
            <td>Picture path + name</td>
          </tr>
          <tr>
            <td>size</td>
            <td>String</td>
            <td>30405.00</td>
            <td>Picture size (bytes: b)</td>
          </tr>
          <tr>
            <td>mime</td>
            <td>String</td>
            <td>image/jpeg</td>
            <td>Picture MIME type</td>
          </tr>
          <tr>
            <td>sha1</td>
            <td>String</td>
            <td>0143f7904f12e2a76ff2935f21a771b8adadf961</td>
            <td>Picture SHA1 value</td>
          </tr>
          <tr>
            <td>md5</td>
            <td>String</td>
            <td>e630c1d832f1701b0afe09cfe86a7f2b</td>
            <td>Picture MD5 value</td>
          </tr>
          <tr>
            <td>ip</td>
            <td>String</td>
            <td>192.168.0.1</td>
            <td>Uploader IP</td>
          </tr>
          <tr>
            <td>suspicious</td>
            <td>Number</td>
            <td>0</td>
            <td>Is it a suspicious picture, (0: No, 1: Yes)</td>
          </tr>
          <tr>
            <td>upload_time</td>
            <td>Number</td>
            <td>1572491936</td>
            <td>Picture upload time</td>
          </tr>
          <tr>
            <td>upload_date</td>
            <td>String</td>
            <td>2019-10-31 11:18:56</td>
            <td>Picture upload date</td>
          </tr>
          <tr>
            <td>url</td>
            <td>String</td>
            <td>http://domain.com/2019/10/31/929616303ca92.jpg</td>
            <td>Pictures linking</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mdui-m-b-2">
      <h2>4. Get a single picture</h2>
      <div class="mdui-row">
        <div class="mdui-col-md-6">
          <div class="mdui-table-fluid mdui-m-t-1">
            <table class="mdui-table">
              <thead>
              <tr>
                <td>Function</td>
                <td>Interface</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Request mode</td>
                <td>POST</td>
              </tr>
              <tr>
                <td>URL</td>
                <td>{$domain}/api/image</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Request parameters</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Request</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>id</td>
            <td>String</td>
            <td>Yes</td>
            <td>Picture ID</td>
          </tr>
          </tbody>
        </table>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">The returned data is the same as the third one</h4>
    </div>

    <div class="mdui-m-b-2">
      <h2>5. Delete picture</h2>
      <div class="mdui-row">
        <div class="mdui-col-md-6">
          <div class="mdui-table-fluid mdui-m-t-1">
            <table class="mdui-table">
              <thead>
              <tr>
                <td>Function</td>
                <td>Interface</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Request mode</td>
                <td>POST</td>
              </tr>
              <tr>
                <td>URL</td>
                <td>{$domain}/api/delete</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h4 class="mdui-m-t-2 mdui-m-b-1">Request parameters</h4>
      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <thead>
          <tr>
            <td>Parameter name</td>
            <td>Type</td>
            <td>Required</td>
            <td>Explain</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>id</td>
            <td>String</td>
            <td>Yes</td>
            <td>Picture ID, delete multiple, separated by commas</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
{/block}
