{extend name="common:base" /}

{block name="title"}控制台 - {$config.site_name}{/block}

{block name="main"}
<div class="mdui-container">
  <main>
    <div class="console-container">
      <div class="mdui-row-sm-4 mdui-row-md-4 mdui-row-lg-4 mdui-row-xl-4">
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-teal mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <i class="mdui-icon material-icons">&#xe623;</i>
            <p>占用储存</p>
            <span class="mdui-text-color-white">{$storage[0]}
              <small class="mdui-text-color-white">{if $storage[0]}{$storage[1]}{else/}Kb{/if}</small>
            </span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-cyan mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe3b6;</i> 图片数量</p>
            <span class="mdui-text-color-white">{$images_num} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-orange mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe8fd;</i> 可疑图片</p>
            <span class="mdui-text-color-white">{$suspicious_images_num} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-deep-purple mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe8d3;</i> 用户数量</p>
            <span class="mdui-text-color-white">{$users_num} <small class="mdui-text-color-white">个</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-red-accent mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> 今日上传</p>
            <span class="mdui-text-color-white">{$today} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-indigo-accent mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> 昨日上传</p>
            <span class="mdui-text-color-white">{$yesterday} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-brown mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> 本月上传</p>
            <span class="mdui-text-color-white">{$month} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-blue-grey mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> 游客上传</p>
            <span class="mdui-text-color-white">{$tourists} <small class="mdui-text-color-white">张</small></span>
          </div>
        </div>
      </div>

      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <tbody>
          <tr>
            <th colspan="15">系统配置</th>
          </tr>
          <tr>
            <td>操作系统：</td>
            <td>{:php_uname('s')}</td>
            <td>服务器 IP：</td>
            <td>{:GetHostByName($Think.server.http_host)}</td>
            <td>网站域名：</td>
            <td>{$Think.server.http_host}</td>
          </tr>
          <tr>
            <td>运行环境：</td>
            <td>{$Think.server.server_software}</td>
            <td>PHP 版本：</td>
            <td>{$Think.PHP_VERSION}</td>
            <td>文件上传限制：</td>
            <td>{:ini_get('upload_max_filesize')}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mdui-table-fluid mdui-m-t-1">
        <table class="mdui-table">
          <tbody>
          <tr>
            <th colspan="15">软件信息</th>
          </tr>
          <tr>
            <td>软件版本：</td>
            <td>v{$config.system_version}</td>
          </tr>
          <tr>
            <td>使用手册：</td>
            <td><a href="https://www.kancloud.cn/wispx/lsky-pro/content" target="_blank">https://www.kancloud.cn/wispx/lsky-pro/content</a></td>
          </tr>
          <tr>
            <td>仓库地址：</td>
            <td><a href="https://github.com/wisp-x/lsky-pro" target="_blank">https://github.com/wisp-x/lsky-pro</a></td>
          </tr>
          <tr>
            <td>联系作者：</td>
            <td><a href="mailto:i@wispx.cn">i@wispx.cn</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
{/block}
