{extend name="common:base" /}

{block name="title"}{:lang('Console')} - {$config.site_name}{/block}

{block name="main"}
<div class="mdui-container">
  <main>
    <div class="console-container">
      <div class="mdui-row-sm-4 mdui-row-md-4 mdui-row-lg-4 mdui-row-xl-4">
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-teal mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <i class="mdui-icon material-icons">&#xe623;</i>
            <p>{:lang('Occupied storage')}</p>
            <span class="mdui-text-color-white">{$storage[0]}
              <small class="mdui-text-color-white">{if $storage[0]}{$storage[1]}{else/}Kb{/if}</small>
            </span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-cyan mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe3b6;</i> {:lang('Number of pictures')}</p>
            <span class="mdui-text-color-white">{$images_num} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-orange mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe8fd;</i> {:lang('Suspicious picture')}</p>
            <span class="mdui-text-color-white">{$suspicious_images_num} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-deep-purple mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe8d3;</i> {:lang('Number of users')}</p>
            <span class="mdui-text-color-white">{$users_num} <small class="mdui-text-color-white">{:lang('Ge')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-red-accent mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> {:lang('Upload today')}</p>
            <span class="mdui-text-color-white">{$today} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-indigo-accent mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> {:lang('Uploaded yesterday')}</p>
            <span class="mdui-text-color-white">{$yesterday} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-brown mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> {:lang('Upload this month')}</p>
            <span class="mdui-text-color-white">{$month} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
        <div class="mdui-col item mdui-m-b-2">
          <div class="mdui-color-blue-grey mdui-text-center mdui-text-color-white mdui-p-a-2 mdui-shadow-4 mdui-hoverable">
            <p><i class="mdui-icon material-icons">&#xe2c3;</i> {:lang('Visitor upload')}</p>
            <span class="mdui-text-color-white">{$tourists} <small class="mdui-text-color-white">{:lang('Zhang')}</small></span>
          </div>
        </div>
      </div>

      <div class="mdui-table-fluid">
        <table class="mdui-table">
          <tbody>
          <tr>
            <th colspan="15">{:lang('System configuration')}</th>
          </tr>
          <tr>
            <td>{:lang('Operating system')}：</td>
            <td>{:php_uname('s')}</td>
            <td>{:lang('Server IP:')}</td>
            <td>{:GetHostByName($Think.server.http_host)}</td>
            <td>{:lang('Website domain name:')}</td>
            <td>{$Think.server.http_host}</td>
          </tr>
          <tr>
            <td>{:lang('Operating environment:')}</td>
            <td>{$Think.server.server_software}</td>
            <td>{:lang('PHP version:')}</td>
            <td>{$Think.PHP_VERSION}</td>
            <td>{:lang('File upload restrictions:')}</td>
            <td>{:ini_get('upload_max_filesize')}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mdui-table-fluid mdui-m-t-1">
        <table class="mdui-table">
          <tbody>
          <tr>
            <th colspan="15">{:lang('Software information')}</th>
          </tr>
          <tr>
            <td>{:lang('Software version:')}</td>
            <td>v{$config.system_version}</td>
          </tr>
          <tr>
            <td>{:lang('User manual:')}</td>
            <td><a href="https://www.kancloud.cn/wispx/lsky-pro/content" target="_blank">https://www.kancloud.cn/wispx/lsky-pro/content</a></td>
          </tr>
          <tr>
            <td>{:lang('Warehouse address:')}</td>
            <td><a href="https://github.com/wisp-x/lsky-pro" target="_blank">https://github.com/wisp-x/lsky-pro</a></td>
          </tr>
          <tr>
            <td>{:lang('Contact author:')}</td>
            <td><a href="mailto:i@wispx.cn">i@wispx.cn</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
{/block}
