{extend name="common:base" /}

{block name="title"}系统更新 - {$config.site_name}{/block}

{block name="main"}
<div class="mdui-container">
  <main>
    <div class="update-container">
      <div class="mdui-chip">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe54e;</i></span>
        <span class="mdui-chip-title">当前版本：v{$config.system_version}</span>
      </div>
      <div class="mdui-divider mdui-m-t-1 mdui-m-b-1"></div>
      {if $newest.version <= $config.system_version}
      <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" disabled>已经是最新版本</button>
      {else /}
      <h3 class="mdui-text-color-light-blue">检测到新版本！</h3>
      <div class="item">
        <h4>v{$newest.version} <small>[{$newest.name}] {$newest.date}</small></h4>
        <div class="info">
          {foreach $newest.info as $k => $val}
          <p>{$k + 1}. {$val}</p>
          {/foreach}
        </div>
      </div>
      <button id="update" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-m-t-1">立即更新</button>
      {/if}
      <div class="mdui-divider mdui-m-t-2 mdui-m-b-2"></div>
      <h3 class="mdui-text-color-cyan">更新日志：</h3>
      {if $record}
      {foreach $record as $value}
      <div class="item">
        <h4>v{$value.version} <small>[{$value.name}] {$value.date}</small></h4>
        <div class="info">
          {foreach $value.info as $k => $val}
          <p>{$k + 1}. {$val}</p>
          {/foreach}
        </div>
      </div>
      {/foreach}
      {else /}
      <p class="mdui-m-t-1">暂无更新日志</p>
      {/if}
    </div>
  </main>
</div>
{/block}

{block name="js"}
<script>
  $('#update').click(function () {
    var that = $(this);
    $.ajax({
      url: "{:url('admin/update/toUpdate')}",
      type: 'post',
      dataType: 'json',
      beforeSend: function () {
        that.attr('disabled', true).text('请求更新中...');
      },
      success: function (response) {
        that.attr('disabled', true).text(response.msg);
        if (response.code) {
          mdui.alert(response.msg, function () {
            setTimeout(function () {
              history.go(0);
            }, 300)
          }, {
            confirmText: '确定'
          })
        }
      },
      error: function () {

      },
      complete: function () {
        that.attr('disabled', false).text('立即更新');
      }
    });
  });
</script>
{/block}