{extend name="common:base" /}

{block name="title"}{:lang('Setting')} - {$config.site_name}{/block}

{block name="main"}
<div class="mdui-container">
  <main>
    <div class="mdui-col-sm-8 mdui-col-md-8">
      <form action="{:url('user/settings')}" method="post">
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('User name')}</label>
          <input class="mdui-textfield-input" type="text" value="{$user.username}" disabled/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Email')}</label>
          <input class="mdui-textfield-input" type="email" value="{$user.email}" disabled/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">Token</label>
          <input class="mdui-textfield-input" type="text" value="{$user.token}" disabled/>
          <div class="mdui-textfield-helper">{:lang('Token tip')}</div>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Nickname')}</label>
          <input class="mdui-textfield-input" type="text" name="nickname" value="{$user.nickname}" maxlength="15" placeholder="{:lang('Nickname')}"/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Default upload folder')}</label>
          <input class="mdui-textfield-input" type="text" name="default_folder" value="{$user.default_folder}" maxlength="30" placeholder="{:lang('Default upload folder tip')}"/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Old password')}</label>
          <input class="mdui-textfield-input" type="password" name="password_old" placeholder="{:lang('Old password tip')}"/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Password')}</label>
          <input class="mdui-textfield-input" type="password" name="password" placeholder="{:lang('Password tip')}"/>
        </div>
        <div class="mdui-textfield">
          <label class="mdui-textfield-label">{:lang('Confirm password')}</label>
          <input class="mdui-textfield-input" type="password" name="password_confirm" placeholder="{:lang('Confirm password')}"/>
        </div>
        <div class="mdui-textfield">
          <button type="submit" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">{:lang('Save')}</button>
          <button type="reset" class="mdui-btn mdui-btn-raised mdui-ripple">{:lang('Reset')}</button>
        </div>
      </form>
    </div>
  </main>
</div>
{/block}
{block name="js"}
<script>
  $(function () {
    $('form').submit(function (e) {
      e.preventDefault();
      app.request(this.action, $(this).serialize(), function () {
        history.go(0)
      })
    });
  });
</script>
{/block}
